{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <img src="assets/logo.jpg" alt="Rocketseat">
    <h1>Rocketseat</h1>
    <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do
      próximo nível 🚀</p>
  </div>

  <div class="tecnologias">
    <h4>Principais Tecnologias:</h4>
    <ul>
      <li>Elixir</li>
      <li>Flutter</li>
      <li>Javascript</li>
      <li>NodeJs</li>
      <li>React</li>
      <li>React Native</li>
    </ul>
  </div>

  <div class="links">
    <a href="https://github.com/rocketseat/"target="_blank">Github</a>
    <a href="https://instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
    <a href="https://facebook.com/rocketseat/" target="_blank">Facebook</a>
  </div>

{% endblock %}