{% extends "layout.njk" %}

  {% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Conteúdos</title>
  {% endblock %}

  {% block content %}

    <div class="wrapper">
      <h1>Rocketseat</h1>
    </div>

    <section class="cards">
     <div class="card" id="mapas-com-react-usando-leaflet">
        <div class="card_image">
         <img src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg" alt="Utilizando Mapas com Leaflet">
        </div>

        <div class="card_content">
          <p>Mapas com React usando Leaflet</p>
       </div>

        <div class="card_info">
          <p>Thiago Marinho</p>
         <p>11 min de leitura</p>
        </div>
     </div>

      <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
        <div class="card_image">
          <img src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg" alt="Dark Mode com CSS">
        </div>

        <div class="card_content">
          <p>Dark Mode com CSS</p>
        </div>

        <div class="card_info">
          <p>Thiago Marinho</p>
          <p>3 min de leitura</p>
        </div>
      </div>

      <div class="card" id="ideias-e-inspiracoes-para-projetos-design-web-e-mobile">
        <div class="card_image">
          <img src="https://blog.rocketseat.com.br/content/images/size/w2000/2020/07/ideias-inspiracoes-projetos-design-web-mobile.png" alt="Ideias e inspirações de projetos">
        </div>

        <div class="card_content">
          <p>Ideias e Inspirações para Projetos</p>
        </div>

        <div class="card_info">
          <p>Thiago Marinho</p>
          <p>2 min de leitura</p>
        </div>
      </div>

    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="maximize-modal">
          <i class="material-icons">maximize</i>
        </a>

        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
         <iframe src="" frameborder="0"></iframe>
        </div>

      </div>
    </div>

    <script src="/scripts.js"></script>

  {% endblock %}
